body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(211, 203, 190);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #000000;
  color: blanchedalmond;
  padding: 20px 0;
  text-align: center;
}

.nav nav {
  border: red 5px;
  margin: 20px 0;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
}
.nav ul li {
  margin: 0 15px;
}
.nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.nav ul li a:hover {
  background-color: #575757;
}
main {
  padding: 50px;
}
article {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(72, 52, 52);
  text-align: center;
  
}
.margin {
  background-color: #f6aa13;
  padding: 30px;
  width: 800px;
    width: 700px;
    margin: 0 auto;
}
.border {
  background-color: #20aee2;
  padding: 30px;
    width: 600px;
    margin: 0 auto;
}
.padding {
  background-color: #dc1212;
  padding: 30px;
    width: 400px;
    margin: 0 auto;
}
.content {
  background-color: #f7d2d2;
  width: 300px;
  height: 120px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  line-height: 150px;
margin: 0 auto;
}
.containers {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  border: #20aee2;
  margin: auto;
}
.containers div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border-color: #20aee2;
  border-radius: 20px;
}
/*
estilos grid*/
.grid{
    margin-top: var;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: auto 1fr auto auto;
    gap: 10px;
}
.grid-cell {
    background-color:red;
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-cell{ background-color:#0933ee; min-height: 0px;grid-column: 1 / -1; color: #ffffff;}
.aside-cell{ background-color:#b803ea; min-height: 0px; grid-row: 2 / 4; grid-column: 1 / 2; color: #ffffff;}
.main-cell{ background-color:#044e7c; min-height: 0px;   grid-column: 2 / 4; color: #ffffff;}
.section-cell{ background-color:#0b7a3a; min-height: 0px; color: #ffffff; }
.section1 { grid-column: 2 / 3; grid-row: 3; color: #ffffff; }
.section2 { grid-column: 3 / 4; grid-row: 3; color: #ffffff; }
.footer-cell{ background-color:#444; min-height: 0px; grid-column: 1 / -1; color: #ffffff;}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
@media (min-width: 768px) {
}


/* PARTE DEL CONTACTO*/
.grid{
    margin-top: var;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: auto 1fr auto auto;
    gap: 10px;
}
.grid-cell {
    background-color:red;
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-header{ background-color:#0933ee; min-height: 0px;grid-column: 1 / -1; color: #ffffff;}
.contact-aside{ background-color:#b803ea; min-height: 0px; grid-row: 2 / 4; grid-column: 1 / 2; color: #ffffff;}
.contact-main{ background-color:#044e7c; min-height: 0px;   grid-column: 2 / 4; color: #ffffff;}
.contact-section{ background-color:#0b7a3a; min-height: 0px; color: #ffffff; }
.contact-section { grid-column: 2 / 3; grid-row: 3; color: #ffffff; }
.contact-section2 { grid-column: 1 / 3; grid-row: 3; color: #ffffff; }
.contact-footer {background-color:#444; min-height: 0px; grid-column: 1 / -1; color: #ffffff;}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
@media (min-width: 768px) {
}




